<%- include("header") -%>
<h2>This is about page</h2>
<p>I am Garvit Gupta, pursuing B.Tech in civil engineering at IIT Indore. However, I am more intrested towards it secotr.</p>
<%- include("footer") -%>